<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/common/nav.css">
    <link rel="stylesheet" href="css/doctor.css">
    <link rel="stylesheet" href="css/common/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include ./common/navbar %>
    <div class="doctor-head-hero">
        <h1>Cardiac Surgeons in</h1>
        <h2>Delhi</h2>
    </div>

    <div class="doctor-sort">
        <p>Home / Doctor List</p>
        <select name="sort-by" id="sort">
            <option value="sort-by">Sort-by</option>
        </select>
    </div>

    <div class="doctors-hero">
        <div class="filters-hero">
            <h3>Filter By</h3>
            <div class="filters">

            </div>
            <div class="location filter">
                <div class="filter-header">
                    <p>Location</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <% for(var i=0;i < location.length ;i++) {%> 
                    <input type="checkbox" name="<%= location[i] %>" onchange="locationFilter(name)"><p><%= location[i] %></p>
                    <% } %>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">

            </div>

            <div class="location filter">
                <div class="filter-header">
                    <p>Treatment</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <% for(var i=0;i < treatment.length ;i++) {%> 
                    <input type="checkbox" name="<%= treatment[i] %>" onchange="treatmentFilter(name)"><p><%= treatment[i] %></p>
                    <% } %>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>

            <div class="treatment filter">
                <div class="filter-header">
                    <p>Hospital</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <% for(var i=0;i < hospital.length ;i++) {%>
                    <input type="checkbox" name="<%= hospital[i] %>" onchange="hospitalFilter(name)"><p><%= hospital[i] %></p>
                    <% } %>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>

            <div class="location filter">
                <div class="filter-header">
                    <p>Years of Experience</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <input type="checkbox" name="5"  onchange="experienceFilter(name)"><p>5+</p>
                    <input type="checkbox" name="10"  onchange="experienceFilter(name)"><p>10+</p>
                    <input type="checkbox" name="15"  onchange="experienceFilter(name)"><p>15+</p>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>
        </div>
        <div class="doctor-cards-hero">
            <% for(var i=0;i < doctors.length ;i++) {%> 
            <div class="doctor-card">
                <div class="details">
                    <h1><%= doctors[i].name %></h1>
                    <div class="info-hero">
                        <div class="info">
                            <i class="fa fa-certificate"></i>
                            <p><%= doctors[i].speciality %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-hospital-o"></i>
                            <p><%= doctors[i].hospitals %></p>
                        </div>
                        <div class="info">
                            <i class="fas fa-ribbon"></i>
                            <p><%= doctors[i].education %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-map-marker"></i>
                            <p><%= doctors[i].city %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-clock-o"></i>
                            <p><%= doctors[i].experience %></p>
                        </div>
                    </div>
                    <button name="<%= doctors[i]._id %>" id = "<%= i %>" onclick="showSlots(name,id)">Book An Appointment</button>
                    
                </div>
                <div class="doctor-dp">
                    <img src= <%= doctors[i].dp %> alt="" srcset="">
                </div>
                <div class="slot-days" id="slot-days-<%= i %>">
                    <!-- <i class="fas fa-angle-left"></i> -->
                    <!-- <div class="slot">
                        <h2>Today</h2>
                        <p id="1-slot">No Slots available</p>
                        <div class="line">

                        </div>
                    </div>
                    -->
                    <!-- <i class="fas fa-angle-right"></i> -->
                </div>
                <div class="slot-time-hero" id="slot-time-hero-<%= i %>">
                    <!-- <div class="slot-time">
                        <p>11:00 PM</p>
                    </div> -->
                </div>
            </div>
            
            <% } %>
        </div>
    </div>
    <% include ./common/footer %>

    <script>
        var locationFilters = [];
        var treatmentFilters = [];
        var hospitalFilters = [];
        var experienceFilters = [];

        const showSlots = async (userID,id) => {
            let slot_days_id = document.getElementById("slot-days-"+id);
            slot_days_id.innerHTML = "";
            let userId = userID;
            const url = '/slots/' + userID;
            const slots = await fetch(url, {
                method : "GET",
            })
            const slotJSON = await slots.json();
            const todayDate = new Date();
            const todayDay = todayDate.getDay();
            let availableSlotsCount = [0,0,0,0,0,0,0];
            
            for(let i=0;i<slotJSON.length;i++){
                availableSlotsCount[slotJSON[i].day-todayDay] += slotJSON[i].subSlots.length; 
            }

            let slot_days = document.getElementById("slot-days-"+id)
            var slotsArray = [];
            for(let i=0;i<7;i++){
                let slot = document.createElement("div")
                slot.className = "slot";
                
                
                let p = document.createElement("p");

                if(availableSlotsCount[i] === 0){
                    p.innerText = "No Slots Availanle"
                }
                else{
                    p.innerText = availableSlotsCount[i] + " Slots Available"
                }
                
                let line = document.createElement("div");
                line.className = "line";

                if(i === 0){
                    let h2 = document.createElement("h2");
                    h2.innerText = "Today";
                    slot.appendChild(h2);
                }
                else if(i === 1){
                    let h2 = document.createElement("h2");
                    h2.innerText = "Tomorrow";
                    slot.appendChild(h2);
                }
                else{
                    let h2 = document.createElement("h2");
                    let newdate = new Date();
                    newdate.setDate(newdate.getDate() + i);
                    h2.innerText = newdate.toDateString();
                    slot.appendChild(h2);
                }
                let newdate = new Date();
                newdate.setDate(newdate.getDate() + i);
                let day = newdate.getDay();
                slot.id = userID;
                slot.setAttribute("name", day);
                slot.setAttribute("onclick","getAllSlotsOfDay("+day+",id,"+id+")")
                slot.appendChild(p);
                slot.appendChild(line);
                
                slotsArray.push(slot);
            }
            let leftArrow = document.createElement("i");
            leftArrow.className = "fas fa-angle-left";
            leftArrow.id = 0;
            
            leftArrow.addEventListener("click" , () => {
                slot_days_id.innerHTML = "";
                if(leftArrow.id === 6){
                    rightArrow.id = 6
                }
                leftArrow.id = Number(leftArrow.id)-3
                slot_days.appendChild(leftArrow);
                for(let i=Number(leftArrow.id);i<Number(rightArrow.id)-3;i++){
                    slot_days.appendChild(slotsArray[i]);
                }
                rightArrow.id = Number(rightArrow.id)-3;
                slot_days.appendChild(rightArrow)
            })


            slot_days.appendChild(leftArrow);
            for(let i=leftArrow.id;i<leftArrow.id+3;i++){
                console.log(i)
                slot_days.appendChild(slotsArray[i])
            }
            let rightArrow = document.createElement("i");
            rightArrow.className = "fas fa-angle-right";
            rightArrow.id = Number(leftArrow.id)+3;
            
            
            rightArrow.addEventListener("click" , () => {
                slot_days_id.innerHTML = "";
                leftArrow.id = Number(rightArrow.id);
                slot_days.appendChild(leftArrow);
                let upto = (Number(rightArrow.id)+3)>6 ? 7 : Number(rightArrow.id)+3;
                for(let i=Number(rightArrow.id);i<upto;i++){
                    slot_days.appendChild(slotsArray[i])
                }
                rightArrow.id = Number(rightArrow.id)+3
                slot_days.appendChild(rightArrow);
            })  
            
            
            slot_days.appendChild(rightArrow)
            
            let slotDaysDivLength = document.getElementsByClassName("slot-days").length;
            for(let i=0;i<slotDaysDivLength;i++){
                if(i!=id){
                    document.getElementsByClassName("slot-days")[i].style.display = "none";
                    document.getElementsByClassName("slot-time-hero")[i].style.display = "none"
                }
                else {
                    document.getElementsByClassName("slot-days")[i].style.display = "flex";
                    document.getElementsByClassName("slot-time-hero")[i].style.display = "flex"
                }
            }
            
        }

        const shiftLeft = (id,slotsArray) => {
            console.log(id)
            // console.log(slotsArray.length)
        }
        const getAllSlotsOfDay = async (day,id,divId) => {
            const url = "/getAllSlotsOfDay?day="+day+"&id="+id;
            
            const allSlotsOfDay = await fetch(url , {
                method : "GET"
            })
            const allSlotsOfDayJSON = await allSlotsOfDay.json();
            console.log(allSlotsOfDayJSON);
            let slotTimeHero = document.getElementById("slot-time-hero-"+divId);
            slotTimeHero.innerHTML = "";
            
            for(let i=0;i<allSlotsOfDayJSON.length;i++){
                for(let j=0;j<allSlotsOfDayJSON[i].subSlots.length;j++){
                    let slotTime = document.createElement("div");
                    slotTime.className = "slot-time";
                    let p = document.createElement("p");
                    p.innerText = allSlotsOfDayJSON[i].subSlots[j].s_time;
                    slotTime.appendChild(p)
                    slotTimeHero.appendChild(slotTime)
                }
            }
        }


        const locationFilter = async (name) => {
            if(locationFilters.includes(name)){
                locationFilters = locationFilters.filter(function(x){
                    return x !== name;
                });
            }
            else{
                locationFilters.push(name)
            }
            filterRequest(locationFilters , treatmentFilters, hospitalFilters, experienceFilters)
        }
        
        const treatmentFilter = async (name) => {
            if(treatmentFilters.includes(name)){
                treatmentFilters = treatmentFilters.filter(function(x){
                    return x !== name;
                });
            }
            else{
                treatmentFilters.push(name)
            }
            filterRequest(locationFilters , treatmentFilters, hospitalFilters, experienceFilters)
        }

        const hospitalFilter = async (name) => {
            if(hospitalFilters.includes(name)){
                hospitalFilters = hospitalFilters.filter(function(x){
                    return x !== name;
                });
            }
            else{
                hospitalFilters.push(name)
            }
            filterRequest(locationFilters , treatmentFilters, hospitalFilters, experienceFilters)
            
        }

        const experienceFilter = async (name) => {
            if(experienceFilters.includes(name)){
                experienceFilters = experienceFilters.filter(function(x){
                    return x !== name;
                });
            }
            else{
                experienceFilters.push(name)
            }
            filterRequest(locationFilters , treatmentFilters, hospitalFilters, experienceFilters)
        }

        const filterRequest = async (locationFilters , treatmentFilters, hospitalFilters, experienceFilters) => {

            const response = await fetch("/getDoctor", {
                method : "POSt",
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({locationFilters , treatmentFilters, hospitalFilters, experienceFilters})
            });
            const filteredDoctors = await response.json();
            
            document.getElementsByClassName("doctor-cards-hero")[0].innerHTML = "";
            for(let i=0;i<filteredDoctors.length;i++){
                let doctor_card = document.createElement("div");
                doctor_card.className = "doctor-card";

                let details = document.createElement("div");
                details.className = "details";

                let h1 = document.createElement("h1")
                h1.innerText = filteredDoctors[i].name;

                let info_hero = document.createElement("div");
                info_hero.className = "info-hero";

                let iconsClass = ["fa fa-certificate", "fa fa-hospital-o", "fas fa-ribbon", "fa fa-map-marker", "fa fa-clock-o"];
                let infoInnerText = [filteredDoctors[i].speciality , filteredDoctors[i].hospitals, filteredDoctors[i].education, filteredDoctors[i].city, filteredDoctors[i].experience];

                for(let j=0;j<5;j++){
                    let info = document.createElement("div");
                    info.className = "info";

                    let certificate = document.createElement("i");
                    certificate.className = iconsClass[j];

                    let specialityP = document.createElement("p");
                    specialityP.innerText = infoInnerText[j];

                    info.appendChild(certificate);
                    info.appendChild(specialityP);
                    info_hero.appendChild(info);
                }

                let button = document.createElement("button");
                button.name = filteredDoctors[i]._id;
                button.id = i;
                button.setAttribute("onclick" , "showSlots(name,id)");
                button.innerText = "Book An Appointment";

                let dp = document.createElement("div");
                dp.className = "doctor-dp";
                let img = document.createElement("img");
                img.src = filteredDoctors[i].dp;

                let slot_days = document.createElement("div");
                slot_days.className = "slot-days";
                slot_days.id = "slot-days-"+i;

                let slot_time_hero = document.createElement("div");
                slot_time_hero.className = "slot-time-hero";
                slot_time_hero.id = "slot-time-hero-"+i;

                doctor_card.appendChild(details);
                details.appendChild(h1);
                details.appendChild(info_hero);
                details.appendChild(button)

                doctor_card.appendChild(dp);
                dp.appendChild(img);

                doctor_card.appendChild(slot_days);
                doctor_card.appendChild(slot_time_hero);
                document.getElementsByClassName("doctor-cards-hero")[0].appendChild(doctor_card)
            }
        }
        
    </script>
    <script>

    </script>
</body>
</html>