<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/common/nav.css">
    <link rel="stylesheet" href="css/doctor.css">
    <link rel="stylesheet" href="css/common/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <% include ./common/navbar %>
    <div class="doctor-head-hero">
        <h1>Cardiac Surgeons in</h1>
        <h2>Delhi</h2>
    </div>

    <div class="doctor-sort">
        <p>Home / Doctor List</p>
        <select name="sort-by" id="sort">
            <option value="sort-by">Sort-by</option>
        </select>
    </div>

    <div class="doctors-hero">
        <div class="filters-hero">
            <h3>Filter By</h3>
            <div class="filters">

            </div>
            <div class="location filter">
                <div class="filter-header">
                    <p>Location</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <input type="checkbox" name="delhi"><p>Delhi</p>
                    <input type="checkbox" name="mumbai"><p>Mumbai</p>
                    <input type="checkbox" name="noida"><p>Noida</p>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">

            </div>

            <div class="location filter">
                <div class="filter-header">
                    <p>Treatment</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <input type="checkbox" name="mot"><p>Multi Organ Transplant</p>
                    <input type="checkbox" name="dentistry"><p>Dentistry</p>
                    <input type="checkbox" name="cancer"><p>Cancer</p>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>

            <div class="treatment filter">
                <div class="filter-header">
                    <p>Hospital</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <input type="checkbox" name="aiims"><p>AIIMS</p>
                    <input type="checkbox" name="apollo"><p>Apollo</p>
                    <input type="checkbox" name="city"><p>City</p>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>

            <div class="location filter">
                <div class="filter-header">
                    <p>Years of Experience</p>
                    <i class="fa fa-search"></i>
                </div>
                <div class="checklist">
                    <input type="checkbox" name="5"><p>5+</p>
                    <input type="checkbox" name="10"><p>10+</p>
                    <input type="checkbox" name="15"><p>15+</p>
                </div>
                <div>
                    <a href="http://"><i class="fa fa-plus">Show More</i></a>
                </div>
            </div>
            <div class="line">
                
            </div>
        </div>
        <div class="doctor-cards-hero">
            <% for(var i=0;i < doctors.length ;i++) {%> 
            <div class="doctor-card">
                <div class="details">
                    <h1><%= doctors[i].name %></h1>
                    <div class="info-hero">
                        <div class="info">
                            <i class="fa fa-certificate"></i>
                            <p><%= doctors[i].speciality %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-hospital-o"></i>
                            <p><%= doctors[i].hospitals %></p>
                        </div>
                        <div class="info">
                            <i class="fas fa-ribbon"></i>
                            <p><%= doctors[i].education %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-map-marker"></i>
                            <p><%= doctors[i].city %></p>
                        </div>
                        <div class="info">
                            <i class="fa fa-clock-o"></i>
                            <p><%= doctors[i].experience %></p>
                        </div>
                    </div>
                    <button>Book An Appointment</button>
                </div>
                <div class="doctor-dp">
                    <img src= <%= doctors[i].dp %> alt="" srcset="">
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% include ./common/footer %>
</body>
</html>